header{
	background: url("../images/background/subtle_carbon.png");
	border-radius: 0;
	border: 0;
	margin-top: -5px;
}

body{
	background: #5b6073; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #5B6073 , #1C1F24); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #5B6073 , #1C1F24); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer{
	background: url("../images/background/subtle_carbon.png");
	color: #AB0000;
}



#logo-img{
	background: url("../images/logo/prva.jpg") no-repeat;
	width: 178px;
	height: 100px;
	padding: 10px 10px 10px 10px;
	margin-top: 12px;
	margin-left: 12px;
}


.navbar-default .navbar-nav>li>a {
	height: 20px;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
    color: #586073;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover{
    background:-webkit-linear-gradient(#1C1F24, #5b6073);
    color: white;
	box-shadow: 0px 0px 20px #000;
    -webkit-transition: text-shadow 250ms linear 0s;
    -moz-transition: text-shadow 250ms linear 0s;
    -o-transition: text-shadow 250ms linear 0s;
	transition: text-shadow 250ms linear 0s;
}

.navbar-default {
    background-color: transparent;
    border: 0;
    margin-bottom: 0px;
}

.nav>li>a {
    display: block;
    text-align: center;
    color: #586073;
}

div#home.navbar-brand.visible-xs a{
	color:#586073;
	text-decoration: none;
}

div#home.navbar-brand.visible-xs a span#cent{
	position: center;
	text-decoration: none;
}


#slide{
	display: block;
	margin: auto;
	margin-top:10px;
	margin-bottom: 10px; 
	width: 70%;
}



#centriraj{
	text-align: center;
}







.hello{
	padding-top: 85px;
	margin-right: 10px;
}

#home{
	font-size: 25px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #586073;
}

.navbar-default .navbar-toggle {
    border-color: #586073;
}

#naslov h1{
	font-weight: bold;
	color: #AB0000;
	text-align: center;
	margin-top: 10px;
}

#naslov{
	color: white;
	text-align: justify;
	margin-bottom: 15px;
}



#glavno{
	color: white;
	text-align: justify;
	background-color: gray;
	background: url("../images/background/blackorchid.png");
	margin-bottom: 10px;
}

#glavno h2{
	text-align: center;
	color: #AB0000;
	font-size: 25px;
    font-weight: 700;
}

#glavno h3{
	font-size: 20px;
}

hr{
	border-top: 1px solid #AB0000;
}

footer a{
	color: #AB0000;
}

footer a:hover{
	color: white;
	text-decoration: none;
}

footer span{
	font-size: 1.3em;
	padding-bottom: 10px;
}

footer #copyright a{
	font-size: 0.8em;
	color: white;
	text-decoration: none;
}

footer #copyright a:hover{
	color: #AB0000;
}

footer p.col-xs-6{
	text-align: justify;
	padding-top: 10px;
}

#drugipar{
	border-left: 3px solid #AB0000;
}


@media(max-width: 768px){
	#logo-img{
		margin: auto;
		margin-top: 12px;
	}

	#slide{
		width: 90%;
	}
	#drugipar{
	border-left:0px solid #AB0000;
}
}

#razdvojna{
	border-top: 1px solid white;
}